
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Lista de bodegas</h2>
    </div>
    <div>
        <a class="btn btn-outline-primary" asp-action="Upsert"> <i class="bi bi-plus-square"></i> Crear nueva bodega </a>
    </div>
    <div class="p-4 border rounded bg-light">
        <table id="tb" class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th></th>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/Bodega.js"></script>
}